.sib_nav,
.child_nav {
    &__grid {
        display: grid;
        gap: 1rem;
        @media (min-width:768px) {
            grid-template-columns: repeat(2,1fr);
        }
    }
    &__card {
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
        .img_container {
            overflow: hidden;
            aspect-ratio: 16 / 9;
            width: 100%;
        }
        img {
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center;
            width: 100%;
            transition: transform 300ms ease;
        }
        .card_inner {
            color: var(--col-gold-600);
            background-color: var(--col-green-600);
            padding: 1rem;
        }
    }
}
.child_nav {
    &__grid {
        @media (min-width:992px) {
            grid-template-columns: repeat(5,1fr);
        }
    }
}
.sib_nav {
    &__grid {
        @media (min-width:992px) {
            grid-template-columns: repeat(4,1fr);
        }
    }
}