.team {
    &__name {
        font-size: 1.2rem;
        font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
        font-weight: 400;
    }
    &__image--sm {
        max-width: 200px;
    }
}