$col-primary: hsl(129, 41%, 60%);
$col-secondary: hsl(50, 100%, 50%);
$col-grey: #FFF0F0;

:root {

    --hsl-green-200: 129, 41%, 60%;
    --hsl-green-400: 129, 37%, 36%;
    --hsl-green-600: 135, 45%, 21%;
    --hsl-green-900: 147, 94%, 6%;

    --col-green-200: hsl( var(--hsl-green-200) );
    --col-green-400: hsl( var(--hsl-green-400) );
    --col-green-600: hsl( var(--hsl-green-600) );
    --col-green-900: hsl( var(--hsl-green-900) );
    
    --hsl-gold-200: 50, 100%, 80%;
    --hsl-gold-400: 50, 100%, 50%;
    --hsl-gold-600: 47, 100%, 50%;

    --col-gold-200: hsl( var(--hsl-gold-200));
    --col-gold-400: hsl( var(--hsl-gold-400));
    --col-gold-600: hsl( var(--hsl-gold-600));

    --col-grey-400: hsl(0, 0%, 25%); // #404040;
    --col-grey-800: rgb(51,51,51); // #333333;

    --col-primary: var(--col-green-400);
    --col-secondary: var(--col-gold-400);
    --col-grey: #FFF0F0;
    --h-top: 76px;
}